.header{
    display: flex;
    flex-direction: row;
    margin-bottom: 9px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 60px;
    background-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(224, 224, 224);
    z-index: 100;
}
.left-section{  
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
.hamburger-menu{
    height: 24px;
    margin-right: 40px;
}
.youtube-logo{
    height: 38px;
}
.middle-section{
    
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 600px;
    display: flex;
    flex:1;
    align-items: center;
}
.search-bar{
    height: 50px;
    flex:1;
    box-shadow: inset 1px 2px 5px
    rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    border-color: rgb(193, 193, 193);
    border-width: 1px;
    padding-left: 15px;
    font-size: 27px;
}
.search-bar::placeholder{
    font-family: "Roboto",sans-serif,Arial;
    font-size: 27px;
    padding-left: 15px;
}
.search-button{
    height: 54px;
    width: 90px; 
    margin-left: -1px;
    border-radius: 2px;
    border-color:rgb(193, 193, 193) ;
    border-width: 2px;
    background-color: rgb(247, 247, 247);
    margin-right: 16px;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.app-icon-container,
.notification-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.app-icon-container .tooltip,
.notification-icon-container .tooltip{
    position: absolute;
    background-color: gray;
    color:white;
    padding:  4px 4px 4px 4px;
    font-size: 15px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.25s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip, 
.upload-icon-container:hover .tooltip,
.app-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
    opacity: 1;
}
.search-icon{
    height: 40px;
    width: 40x;
    padding-top: -1px;
    
}
.voice-search-button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(245,245,245);
}
.voice-search-icon{
    padding-left: 3px;

}
.right-section{
    
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;    
    justify-content: space-between;
    margin-right: 18px;
    flex-shrink: 0;
}
.upload-icon{
    height: 30px;
}
.app-icon{
    height: 30px;
}
.notifications-icon{
    height: 30px;
}
.notification-icon-container{
    position: relative;
}
.notification-count{
    position: absolute;
    top:-5px;
    right: -1px;
    background-color: red;
    color: white;
    
    border-radius: 50%;
    font-family: "Roboto",sans-serif,Arial;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.my-picture{
    height: 36px;
    border-radius: 18px;
}