.sidebar{
    position: fixed;
    left:0;
    top:60px;
    bottom: 0; 
    background-color: white; 
    width: 72px;
    border-right: 100px;
    z-index: 200;
    padding-top: 12px;
}
.sidebar-link{
    height: 112px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sidebar-link:hover{
    background-color: rgb(234, 234, 234);
}
.sidebar-link img{
    height: 30px;
}
.sidebar-link div{
    font-family: "Roboto",sans-serif,Arial;
    font-size: 10px;

}